@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
}

.header-container {
  border-bottom: 1px, solid, #212429;
  font-family: "Montserrat", sans-serif;
  font-weight: Regular;
  font-variant: small-caps;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
