@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: 0;
  background: none;
}

a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #212429;
  width: 100%;
  position: sticky;
  top: 0;
  height: 70px;
}

.header-container {
  font-weight: Regular;
  font-variant: small-caps;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 32px;
  padding: 0 32px;
  background-color: #ffffff;
  height: 100%;
}

.main-nav ul {
  color: #212429;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.main-nav a {
  color: #212429;
}

.nav-add {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.main-container {
  padding: 16px;
  margin: 32px ;
  background-color: #ffffff;
}

h1 {
  font-size: 32px;
  font-variant: small-caps;
  font-weight: 700;
  margin: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 32px 64px;
  margin: 0 32px;
}

li {
  max-width: 200px;
  display: flex;
}

article {
  display: flex;
  flex-direction: column;
}

.product-image {
border-radius: 20px;
}
.product-info {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.product-precio {
  font-weight: 700;
}
