@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background: none;
}

a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #212429;
  width: 100%;
  position: sticky;
  top: 0;
  height: 70px;
}

.header-container {
  font-weight: Regular;
  font-variant: small-caps;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 32px;
  padding: 0 32px;
  background-color: #ffffff;
  height: 100%;
}

.main-nav ul {
  color: #212429;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.main-nav a {
  color: #212429;
}

.nav-add {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.main-container {
  padding: 16px;
  margin-top: 32px;
  background-color: #ffffff;
}

h1 {
  font-size: 32px;
  font-variant: small-caps;
  font-weight: 700;
  margin: 0;
}

.gallery-container {
  width: 100%;
  padding: 24px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 32px auto;
  margin: 0 auto;
}

li {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
}

.product-image {
border-radius: 20px;
}
.product-info {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.product-precio {
  font-weight: 700;
}

.main-footer {
  width: 100%;
  height: 100px;
  background-color: #212429;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 24px;
  padding: 0 32px;
  height: 100%;
  width: 100%;
}

.footer-item a {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #ffffff;
}
.footer-item img{
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 12px;
}

.footer-text {
  white-space: nowrap;
}

button:hover {
  border: 2px solid #212429;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product-card:hover {
  transition: ease-in .3s;
  transform: scale(1.2) ;
}

@media (max-width: 920px)  {
  
  .main-nav, .nav-add {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-footer {
    width: 100%;
    height: auto;
    background-color: #212429;
    margin-top: 16px;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    gap: 24px;
    padding: 32px 0;
    width: 100%;
}

.footer-item {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
}

.footer-text {
  font-weight: 700;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin: 0 auto;
}

h1 {
  font-size: 44px;
}

}