@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
  background: none;
}

a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #212429;
  width: 100%;
  position: sticky;
  top:0;
}

.header-container {
  
  font-weight: Regular;
  font-variant: small-caps;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 32px;
  padding: 0 24px;
  background-color: #ffffff;
}

.main-nav ul {
  color: #212429;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.main-nav a {
  color: #212429;
}

.nav-add {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.main-container {
  padding: 12px;
}

h1 {
  padding: 12px;
  font-size: 32px;
}